/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #188F25;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #0C1B2F;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #2878CF;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #255563;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  /* The navigation menu */

  /* INICIO FOOTER */

.footer-arrow {
    
  float:left ;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.footer-arrow svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  background-color: #152543;
}
.footer-arrow .shape-fill {
  fill: #1894CC;;
}
.main_footer          { background-color:#188F25; color:#1894CC; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding: 5em 0; }
.container { float:left; width:100%; }
.colfooter { 

width:100%; 
height:auto; 
float:left; 
margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#C8CCA9; }
.colfooter .titleFooter   { 
font-family: 'Lato', sans-serif; 
font-size:1.3em; 
color:#ffffff; 
padding-bottom: 0.5em; 
margin-bottom:0.5em; 
border-bottom: 1px #152543 solid;
}
.colfooter p  { 
font-family: 'Lato', sans-serif; 
color:#ffffff; 
font-size:1em; 
height:25px; 
}
.colfooter .redesocial { 
  
  color: #ffffff;
  float: left;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  transition:0.2s;
}
.colfooter .redesocial:hover { 
  
  color: #fffb00;
  transition:0.2s;
}
.main_footer_copy   { background-color:#152543; width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-size:1em; color:#188F25; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#fffb00 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){

.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
.footer-arrow svg { height:50px; }
}
/*960PX BREAKPOINT*/
@media (min-width:60em){
.footer-arrow svg { height:70px; }
}
/*1280PX BREAKPOINT*/
@media (min-width:80em){
.footer-arrow svg { height:90px; }
}

  /* Dim FOOTER */

    /* Inicio social */

    .btn {
      --btn-color: #152543;
      position: relative;
      padding: 16px 32px;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: white;
      background: none;
      border: none;
      outline: none;
      overflow: hidden;
      cursor: pointer;
      filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
      transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .btn::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: var(--btn-color);
      border-radius: 24px;
      transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .btn span,
            .btn span span {
      display: inline-flex;
      vertical-align: middle;
      transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .btn span {
      transition-delay: 0.05s;
    }
    
    .btn span:first-child {
      padding-right: 7px;
    }
    
    .btn span span {
      margin-left: 8px;
      transition-delay: 0.1s;
    }
    
    .btn ul {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      transform: translateY(-50%);
    }
    
    .btn ul li {
      flex: 1;
    }
    
    .btn ul li a {
      display: inline-flex;
      vertical-align: middle;
      transform: translateY(55px);
      transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .btn ul li a:hover {
      opacity: 0.5;
    }
    
    .btn:hover::before {
      transform: scale(1.2);
    }
    
    .btn:hover span,
            .btn:hover span span {
      transform: translateY(-55px);
    }
    
    .btn:hover ul li a {
      transform: translateY(0);
    }
    
    .btn:hover ul li:nth-child(1) a {
      transition-delay: 0.15s;
    }
    
    .btn:hover ul li:nth-child(2) a {
      transition-delay: 0.2s;
    }
    
    .btn:hover ul li:nth-child(3) a {
      transition-delay: 0.25s;
    }

    /* Fim social */


        /* inicio cardapio */
/*CLASS*/
:root {
   
  --branco: #ffffff;
  --laranja: #ff8200; 
  --preto: #3c3b3b; 
  --vermelho: #bb0020; 
  
  }
  
  .title { width:100%; float:left; margin-top:40px; margin-bottom:40px; padding-bottom:10px;  font-family:'open_sansbold'; font-size:2em; font-weight:bold; text-transform:uppercase; }
  .title.branco   { color:var(--branco); }
  .title.laranja  { color:var(--laranja); }
  .title.preto    { color:var(--preto); }
  .title.vermelho { color:var(--vermelho); }
  .title.center    { text-align:center; }
  
  /*Botão Padrao Inicio*/
  .btn_social { float:left; }
  .btn_social li { width:40px; height:40px; line-height:40px; position: relative; background:var(--laranja); list-style:none; float:none; margin-right:5px; z-index:1; border-radius:50%; font-size:1.2em; text-align:center; transition:.4s ease-in-out; display: inline-block; }
  .btn_social li a { display:block;  text-decoration:none; color:#fff; transition:.3s ease-in-out;}
  .btn_social li:before { position:absolute; content:''; width:100%; height:100%; top:0; left:0; background:var(--branco); border-radius:50%; z-index:-1; transform: scale(0); transition:.3s ease-in-out; }
  .btn_social li:hover:before { transform:scale(0.9); }
  .btn_social li a:hover { color:var(--laranja); }
  /*Botão Padrao Fim*/
  
  .content { width:92%; margin:0 4%; padding: 20px 0; }
  
  /*HEADER*/
  .main_header          { background:#ffffff; z-index:1; }
  .main_header .content { float:left; padding:0px 0; }
  
  .main_header.fixed { display:block; position:fixed; z-index:99; }
  
  .main_header_logo { font-size:0; float:left; }
  .main_header_logo img { height:100px; }
  
  .mobile_action { color:var(--preto); text-align:center; width:40px; height:40px; line-height:45px;  font-size:1.8em; float:right; cursor:pointer; margin:30px 8px;  }
  .mobile_action.active { color:var(--vermelho); }
  
  /*MENU*/
  
  /*1279PX BREAKPOINT - 1279 dividido por 16 = 79.9375em*/
  @media (max-width: 79.9375em){
  .main_header_nav { position:fixed; left:-100%; background-color:var(--preto); top:0; width:76%; min-width:200px; max-width:360px; height:100%; overflow:hidden; overflow-y:auto; -webkit-box-shadow:5px 0px 5px -5px rgba(0,0,0,0.75); -moz-box-shadow:5px 0px 5px -5px rgba(0,0,0,0.75); box-shadow:5px 0px 5px -5px rgba(0,0,0,0.75); z-index:99;  }
  .main_header_nav_item      { float:left; width:100%; position:relative; border-bottom:1px #2e3031 solid; }
  .main_header_nav_item > a  { float:left; width:100%; padding:8px 23px; font-family:'open_sansregular'; text-decoration:none; color:#ffffff; font-size:1em; }
  .main_header_nav_item:hover,.main_header_nav_item > a:hover { background-color:var(--laranja); color:var(--branco); }
  .main_header_nav_item  span   { width:25px; height:25px; line-height:28px; text-align:center; font-size:1.2em; float:right; display:block; }
  
  }
  
  /*PAG*/
  
  .coluna { width:100%; float:left; margin-bottom:30px; }
  
  /*Chamada*/
  .section-chamada  { padding:0em 0; background-color:#fff; }
  .section-chamada .content { width:100%; padding:0; margin:0; }
  .topoPag                 { width:100%; height:100%; background-color:transparent; float:left; position:relative; overflow:hidden; transition:all 500ms; -moz-transition:all 500ms; -ms-transition:all 500ms; -o-transition:all 500ms; -webkit-transition:all 500ms;}
  .topoPag .mascara        { overflow:hidden; position:relative; }
  .topoPag .centraliza     { width: 90%; height:auto; top:26%; position:absolute; margin:0 5%; }
  .topoPag  img            { width:100%; }
  .topoPag .centraliza h1  { width: 100%; font-size:2em; color:var(--branco); float:left; text-align:center; text-transform:uppercase; font-family:'open_sansbold'; text-shadow: 2px 1px 5px #535353;}
  .topoPag .centraliza p   { width:100%; font-size:1em; color:var(--branco); float:left; text-align:center; text-transform:uppercase; font-family:'open_sansregular'; }
  .topoPag .centraliza p b { display:none; }
  
  /*Cardápio*/
  .section-cardapio          { background-color:#f9f9f9; }
  .section-cardapio .content { float:left; padding: 0.5em 0 0em 0; }
  
  .hover_cardapio {  width:100%; height:100%; margin-bottom:2em; float:left; position:relative; overflow:hidden; }
  .hover_cardapio .hoverMascara          { overflow:hidden; border-radius:100%; position:relative; margin-bottom:1em;  background-color:#939393; }
  .hover_cardapio .hover_cardapio_hover  { left:0; top:0; -webkit-transform:scale(1);  transform:scale(1); background:rgba(255,0,98,0); border-radius:100%; z-index:2; width:100%; height:100%; position:absolute; transition:all 400ms; -moz-transition:all 400ms;  -ms-transition:all 400ms; -o-transition:all 400ms; -webkit-transition:all 400ms; }
  .hover_cardapio:hover .hover_cardapio_hover  { left:0; top:0; -webkit-transform:scale(1); transform:scale(1); background: rgba(255, 130, 0, 0.60);}
  .hover_cardapio:hover .appIcone  { left:0; top:23%; opacity:100; }
  .hover_cardapio:hover .appTitulo { left:0; top:33%; opacity:100; }
  .hover_cardapio:hover .appFoto  { left:0; top:0;  opacity:1; -webkit-transform:scale(1); transform:scale(1); transition:all 500ms; -moz-transition:all 500ms;  -ms-transition:all 500ms; -o-transition:all 500ms; -webkit-transition:all 500ms; }
  .hover_cardapio .appFoto   { left:0; top:0; opacity:1; -webkit-transform:scale(1.05); transform:scale(1.05); max-width:100%!important; width:100%; height:auto; border-radius:100%; position:relative; border:none; display:block; }
  .hover_cardapio .appIcone  { display:block; font-family: Helvetica, sans-serif; position:absolute; opacity:0; top:18%; left:0; z-index:3; color:#fff; text-align:center; width:100%; font-size:3em; }
  .hover_cardapio .appTitulo { display:block; font-family: Helvetica, sans-serif; position:absolute; opacity:0; top:35%; left:0; z-index:3; color:#fff; text-align:center; width:100%; font-size:1em; text-decoration:none;  }
  .hover_cardapio .appIcone,.appTitulo,.appFoto, .hover_cardapio .hover_cardapio_hover{ transition:all 500ms; -moz-transition:all 500ms; -ms-transition:all 500ms; -o-transition:all 500ms; -webkit-transition:all 500ms; }
  .hover_cardapio .descricao    { background-color:transparent; float:left; width: 100%;  display:block; text-align:center; padding: 0.5em; }
  .hover_cardapio .descricao h4 { width:100%; float:left; color:var(--laranja); font-size:1.3em; font-family:'open_sansregular', sans-serif; margin-bottom:2em; }
  .hover_cardapio .descricao p  { width:100%; float:left; color: var(--preto); font-size:1em;  font-family:'open_sanslight', sans-serif; margin-bottom:1em;  }
  /*Cardápio*/
  
  /*Galeria*/
  .section-galeria          { background-color:var(--branco); }
  .section-galeria .content { float:left; padding: 0.5em 0 0em 0; }
  
  .galeria-foto { width:100%;  position:relative; overflow:hidden; display: flex;margin-left: 10%;}
  .galeria-foto .foto .mascara    { background:rgba(0,0,0,0); transition:0.5s; position:absolute; width:100%; height:100%; left:0; bottom:0;margin: 20px;  }
  .galeria-foto .foto .image-link { -webkit-transform:scale(0.5); transform:scale(0.5); display:block; position:absolute; left:35%; bottom:45px; text-align:center;	width:40px; height:40px; line-height:40px; font-size:1.8em; background: transparent; color:#ffffff; text-decoration:none; transition:all .3s ease-in-out; opacity:0; margin-left:20px; margin-bottom:20px;  }
  
  .galeria-foto .foto   { width:100%;  display:block; margin-bottom:5%; border:1px #e3e3e3 solid; border-radius:6px; position:relative; overflow:hidden;  margin: 20px;}
  .foto:hover .image-link { -webkit-transform:scale(1.5); transform:scale(1.5); transition: all .3s ease-in-out; opacity:1; } 
  .foto:hover .mascara    { background: rgba(255, 130, 0, 0.57); justify-content: stretch;} 
  /*Termina Galeria*/
  
  /*Contato*/
  .section-contato          { background-color:var(--preto); }
  .section-contato .content { float:left; padding: 0.5em 0 0em 0; }
   
  .formulario       { width:100%; height:100%; float:left; }
  .formulario label { width:100%; float:left; margin-bottom:15px; }
  .formulario label span { font-size:1em; color: #17badf; float:left; margin-bottom:5px; font-family:'open_sansregular'; }
  .formulario .campo     { font-size:1.2em; color:#7b7979; font-family:'open_sansregular'; outline:none; border:1px #dee5ed solid; border-radius:3px; padding:0.6em; transition:.5s; }
  .formulario .campo:focus { box-shadow:0 0 4px 0px rgb(255, 130, 0); border:1px rgb(255, 130, 0) solid; color:#ff8200; }
  .formulario .btn-enviar  { width:160px; float:left; margin-top:5px; background-color:#ffffff; color:#7b7979; border: 1px #dee5ed solid; border-radius:3px; cursor:pointer; padding:0.5em 0em; font-size:1.5em; font-family:'open_sansregular'; transition: 0.2s; }
  .formulario .btn-enviar:hover { background-color:var(--laranja); color:#ffffff; border: 1px var(--laranja) solid;}
  
  .info     { width:100%; float:left; display:block; margin-bottom:20px; }
  .info p   { width:100%; margin-bottom:5px; font-size: 0.79em; color:#7b7979; }
  .info p i { margin-right:5px; }
  
  

  /*480PX BREAKPOINT*/
  /*480 dividido por 16 = 30em*/
  @media (min-width:30em){
  
  .box-css { float:left; width:48%; margin-right:4%; min-height: 300px;}
  .box-css:nth-of-type(2n+0) {margin-right:0; }
  
  .info p   { font-size:1em; }
  
  }
  
  /*600PX BREAKPOINT*/
  /*600 dividido por 16 = 37,5em*/
  @media (min-width:37em){
  
  .topoPag .centraliza h1 { font-size:3em; margin-top:20px; }
  .topoPag .centraliza p   { font-size:1.1em; }
  
  } 
  
  /*768PX BREAKPOINT*/
  /*768 dividido por 16 = 48em*/
  @media (min-width:48em){
  
  .main_header_logo{ background:transparent; z-index:98;}
  
  .section_title   { font-size:2em; font-weight:300; text-align:left; }
  
  .blocoArtigo .desc h3    { font-size: 1.5em; }
  
  .box-css:nth-of-type(2n+0), 
  .box-css  { float:left; width:23.5%; margin-right:2%; }
  .box-css:nth-of-type(4n+0) {margin-right:0; }
  .box-css h1 {font-size:1em!important; }
  
  .galeria-foto .foto { width:48%; margin-right:4%; margin-bottom:4%;}
  .galeria-foto .foto:nth-of-type(2n+0) { margin-right:0; }
  
  .hover_cardapio { width:32%; margin-right:2%; margin-bottom:0em; }
  .hover_cardapio:nth-of-type(3n+0) { margin-right:0px; }
  
  .section-cardapio .content { float:left; padding: 2em 0 2em 0; }
  .section-galeria .content  { float:left; padding: 2em 0 2em 0; }
  .section-contato .content  { float:left; padding: 2em 0 2em 0; }
  
  
  .info   { margin-bottom:20px; }
  .coluna { width:48%; float:left; margin-right:4%; margin-bottom:0; }
  .coluna:nth-of-type(2n+0) { margin-right:0; }
  
  } 
  
  /*960PX BREAKPOINT*/
  /*960 dividido por 16 = 60em*/
  @media (min-width:60em){
  
  .topoPag .centraliza h1 { font-size:4em;}
  .topoPag .centraliza p  { letter-spacing:6.5px; }
  
  }
  
  
  /*1024PX BREAKPOINT*/
  /*1024 dividido por 16 = 64em*/
  @media (min-width:64em){
  
  
  }
  
  /*1280PX BREAKPOINT*/
  /*1280 dividido por 16 = 80em*/
  @media (min-width:80em){
  
  .mobile_action   { display:none; }
  .main_header_nav { float:right; width:auto; }
  .main_header_nav a:hover, .main_header_nav> li:hover > a{ background:transparent; color:#4a688e; }
  .main_header_nav a.menuAtivo{ background-color:var(--laranja); color:var(--branco); }
  
  .main_header_nav_item { position:relative; display:inline-block; }
  .main_header_nav_item:last-of-type { margin-right:15px;} 
  
  .main_header_nav_item  span   { display:none;  }
  
  .main_header_nav_item > a  { color:var(--preto); float:left; padding:2.6em 1em; font-size:0.95em; font-family:'open_sansbold'; text-decoration:none; text-transform:uppercase; }
  .main_header_nav_item:hover, 
  .main_header_nav_item > a:hover { background:var(--preto); color:var(--branco)!important; }
  
  .galeria-foto .foto:nth-of-type(2n+0), 
  .galeria-foto .foto { width:23.5%; margin-right:2%; margin-bottom:2%; }
  .galeria-foto .foto:nth-of-type(4n+0) { margin-right:0; }
  
  .topoPag .centraliza h1 { font-size:5.8em; margin-top:50px; }
  .topoPag .centraliza p  { font-size:1.2em; letter-spacing:20px; }
  }
  
  /*1366PX BREAKPOINT*/
  /*1366 dividido por 16 = 85,375em*/
  @media (min-width:85em){
  
   .content  { width:80%; margin:0 10%; }
  
  }
  
  /*1600PX BREAKPOINT*/
  /*1600 dividido por 16 = 100em*/
  @media (min-width:100em){
  
  
  }
  /* fim  cardapio */